@media screen and (max-width: 991px){
    section{
        min-height: 100vh;
        padding:  0 5%;
        padding-top: 7.5rem;
    }
    .about{
        background-position: right;
    }
    .newsletter{
        margin-top: 2rem;
    }
}


@media screen and (max-width: 768px){
    .hambarg{
        display: block;
        cursor: pointer;
    }
    .navbar{
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        background-color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.249);
        transition: all 1s ease-in-out;
    }
    .navbar.active{
        display: block;;
    }
    .navbar a{
       display: block;
       margin: 2rem 0;
    }
    .hambarg.active .bar:nth-child(2){
        opacity: 0;
    }
    .hambarg.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hambarg.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .home{
        flex-flow: column-reverse;
    }
    .home .img img{
        width: 100%;
        margin: auto;text-align: center;
    }
    .home .content h3{
        font-size: 3.6rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
    .footer-content{
        flex-direction: column;
    }
    .box{
        margin-top: 20px;
    }

}
@media screen and (max-width: 450px){
    .about .content .btn{
        width: 100%;
        text-align: center;
    }
    .about .column .content .button .btn:last-child{
        margin-left: 0;
    }
}